run = "npx serve -s ."
hidden = [".build", "package.json", "package-lock.json"]

[nix]
channel = "stable-22_11"

[env]
PATH = "/home/runner/$REPL_SLUG/node_modules/.bin"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[deployment]
run = ["npx", "serve", "-s", "."]
deploymentTarget = "cloudrun" 